.newsContainer {
    .navList {
        display: flex;
        padding: 20px;
    }
    .typeName{
        margin: 10px;
    }
    .typeBookList {
        display: flex;
        justify-content: space-around;
        .title {
            flex: 1;
        }
    }
}

a {
    text-decoration: none;
}
