.newsContainer {
    .typeName {
        margin: 10px 0 4px 10px;
        display: block;
    }
    .typeBookList {
        line-height: 30px;
        display: flex;
        justify-content: space-around;
        .title {
            flex: 1;
            padding-left: 10px;
        }
    }
    margin-bottom: 15px;
}

